.header{
    background-color: #CBABC8;
}

.main{
    .izq{
        p{
            font-size: 1rem;
        }
    }
}

.reasons{
    .cards{
        justify-content: center;
    }
}

.client-testimonials{
    .line{
        background-color: #CBABC8;
    }
}  

.present-button {
    background-color: #CBABC8;
}

.day{
    background-color: #CBABC8;
}