html{
  overflow-x: hidden;
}
body{
    margin: 0;
    position: relative;
    background-color: #F6F7FD;
    overflow-x: hidden;
    font-family: poppins,sans-serif;
    z-index: 1;
}

.header{
    display: flex;
    justify-content: space-between; 
    background-color: #ffffff6c;
    padding: 15px 20px; 
    background: rgba(255, 255, 255, 0.103);
    border-bottom: 1px solid rgba(255,255,255,.13);;
    figure{
        margin: 0;
        width: 50px;
        img{
            width: 100%;
        }
    }
    .header__navigation{
        display: flex;
        align-items: center;
        ul{
        display: flex;
        list-style: none;;
        margin: 0;
        padding: 0;
            li{
                margin: 0 10px;
                color: #fff;
                font-weight: 600;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.hero{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../assets/images/backgrounds/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    .hero__global{
        position: relative;
        height: 90vh;
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .hero__content{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 180px;
        text-align: left;
        position: relative;
        z-index: 19;
        @media (max-width:800px) {
          width: 90%;
          margin-left: 40px;
        }
        h1{
            font-size: 2rem;
            margin: 0;
        }
        h2{
            font-size: 3.5rem;
            margin: 0;
            span{
                color: #da1a5d;
            }
        }	
        h3{
            font-size: 1.5rem;
            margin: 0;
        }
        p{
            font-size: 1.2rem;
            line-height: 22px;
        }
        a{
            text-decoration: none;
            color: #fff;
            background-color: #da1a5d;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: 600;
            margin-top: 20px;
            display: inline-block;
            transition: all .3s ease-in-out;
            width: 150px;
            text-align: center;

            &:hover{
                background-color: transparent;
                border: 1px solid #fff;

            }
        
        }
    }
.hero__container{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg,#da1a5d 50%,#1db6be 50%);
        bottom: 0;
        left: -50%;
        opacity: .3;
        position: absolute;
        right: -50%;
        top: 0;
        z-index: 1;
    }
    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }
    .bg3 {
        animation-duration: 5s;
    }

    } 
    .hero__card_time{
        position: absolute;
        bottom: -70px;
        left: 100px;
        z-index: 19;
        width: max-content;
        display: flex;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 800px) {
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);
        }
        @media (max-width: 500px) {
            flex-direction: column; 
        }
        .content{
            display: flex;
            align-items: center;
            img{
                margin-right:5px ;
            }
            p{
                font-weight: 600;
                color: #444349;
            }
          }
          .date{
            @media (max-width: 500px) {
              display: flex;
              gap: 20px;
            }
          }
        .countdown{
            display: flex;
            
            .countdown__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 10px;
                @media (max-width:500px) {
                  margin: 0 3px;
                }
                span{
                    color: #444349;
                    padding: 10px;
                    display: block;
                    position: relative;
                    bottom: 0;
                    background: #fff;
                    padding-top: 5px;
                    margin: 0 auto;
                    margin-top: -35px;
                }
                p{
                    display: inline-block;
                    font-size: 30px;
                    margin: 0 0 15px;
                    color: #ff3a54;
                    height: 70px;
                    width: 70px;
                    font-weight: 700;
                    border: 2px dotted #fa3e5c;
                    border-radius: 100px;
                    line-height: 70px;
                }
            
            }
        }
    }
}

.hero::before{
    content: '';
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    opacity: .2;
}

.hero::after {
    content: '';
    position: absolute;
    z-index: 9;
    right: -250px;
    bottom: 0;
    background-image: url(../assets/images/backgrounds/home-corner-right.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 725px;
    background-position: right;
    @media (max-width: 800px) {
        display: none;
      
    }
  }


.main{
    margin-top: 100vh;
    padding: 100px;
    padding-top: 0;
    width: 80%;
    margin: 100vh  auto 0 auto;
    position: relative;
    @media (max-width: 500px) {
       
        padding: 0px;

      
    }
    .main__description{
        display: flex;
        gap: 50px;
        @media (max-width: 800px) {
          flex-wrap: wrap;
          justify-content: center;
          
        }
        .text{
            h2{
                font-weight: 800;
                font-size: 42px;
                margin-bottom:20px;
                font-family: Raleway,sans-serif;
                position: relative;
                z-index: 1;
                display: inline-block;
                @media (max-width: 500px) {
       
                  font-size: 24px;
          
                
              }
            }
            p{
                line-height: 30px;
                font-weight: 300;
                width: 90%;
                position: relative;
                z-index: 1;
            }	
            .firstText{
                font-weight: 400;
            }
        }
        .ca{
            display: flex;
            align-items: center;

            a{
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                cursor: pointer;
                text-decoration: none;
                color: #ff3a54;
                transition: all .3s ease-in-out;
                &:hover{
                    filter: grayscale(1);
                }
            }
        }
      
    }
    &::after{
            content: '';
            position: absolute;
            left: -500px;
            bottom: -640px;
            background-image: url(../assets/images/backgrounds/home-corner-left.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 640px;
            z-index: 2;
    }    
}
.reasons{
    position: relative;
    background-color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    @media (max-width:800px) {
      padding: 42px;
    }
    @media (max-width:800px) {
      padding: 22px;
    }
}
.event-section {
    max-width: 800px;

    padding: 40px 0;
  }
  
  .container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .section-title {
    color: #212529; 
    position: relative;
    z-index: 3;
    text-align: left;
    margin-bottom: 30px;
    font-size: 42px;
    margin-bottom:20px;
    font-family: Raleway,sans-serif;
    display: inline-block;

    @media (max-width:800px) {
      margin-left: 40px;
      font-size: 38px;
    }
    @media (max-width:800px) {
      margin-left: 0px;
      font-size: 24px;
    }
  }
  
  .criteria-list {
    list-style: none;
    padding-left: 0;
    text-align: left;
  }
  
  .criteria-item {
    padding-left: 40px; 
    margin-bottom: 15px;
    font-size: 18px; 
    line-height: 1.6;
    border-left: 4px solid #d9534f; 
    padding: 10px 0 10px 40px; 
  }
  
  .separator {
    border: none;
    border-top: 1px solid #eaeaea; /* Línea delgada para el hr */
    margin: 20px auto; /* Margen vertical para separar los li */
    width: 100%; /* Ancho del hr menos que el contenedor */
    height: 0;
  }

  @media (max-width: 768px) {
    .container {
      padding: 0 30px;
    }
  
    .criteria-item {
      font-size: 16px; /* Tamaño más pequeño del texto para dispositivos móviles */
    }
  }

  .keynote-speakers {
    text-align: center;
    padding: 100px ;
    background: #f8f9fa;
    position: relative;
    z-index: 8;
    @media(max-width:500px){
      width: 80%;
      margin: 0 auto;
      padding: 0px 0 30px 0;
    }
    .line{
        margin-bottom: 0;
    }
  }
   
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .keynote-speakers h2 {
    color: #212529; 
    position: relative;
    z-index: 3;
    text-align: left;
    margin-bottom: 30px;
    font-size: 42px;
    margin-bottom:20px;
    font-family: Raleway,sans-serif;
    width: 100%;
    display: inline-block;
    @media(max-width:500px){
      font-size: 24px;
    }
  }
  
  .keynote-speakers p {
    margin-bottom: 14px; 
    text-align: left;
  }
  .keynote-speakers::before{
    content: '';
    position: absolute;
    z-index: -1;
    right: -400px;
    top: -720px;
    background-image: url(../assets/images/backgrounds/home-corner-right.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 725px;
    background-position: right top;
  }
  .keynote-speakers::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: -400px;
    bottom: -720px;
    background-image: url(../assets/images/backgrounds/home-corner-left.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 725px;
    background-position: left bottom;
  }
  
  .speakers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
    @media (max-width: 800px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
      
    }
  }
  .speaker_img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    @media (max-width: 800px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      height: auto;
      
    }
  }
  .speaker {
    background: #ffffff; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  }
  
  .speaker-photo {
    width: 100%; 
    height: auto;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
    filter: grayscale(100%);
  }
  .speaker:hover .speaker-photo {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  
  .speaker h3 {
    font-size: 1.5em; 
    margin-bottom: 10px;
    text-align: left;
  }
  
  .speaker p {
    font-size: 1em; 
    color: #666666; 
  }

  .degree {
    display: block;
    margin-top: 20px;
  background-color: #FA3E5C;
  color: #ffffff; 
  border: none; 
  border-radius: 4px; 
  padding: 10px 20px;
  font-size: 16px; 
  font-weight: bold; 
  text-transform: uppercase;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


.degree:hover {
  background: #FA3E5C;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


.degree:focus {
  box-shadow: 0 0 0 2px rgba(235, 60, 139, 0.5);
}
  
  .reasons2::after{
    content: '';
    position: absolute;
    z-index: 9;
    right: -250px;
    bottom: 0;
    background-image: url(../assets/images/backgrounds/home-corner-right.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 725px;
    background-position: right;
    @media (max-width: 500px) {
      display: none;
    
      
    }
  }
  
  .schedule {
    padding: 20px 0;
    max-width: 1200px;
    position: relative;
    margin: auto;
    @media (max-width:1200px) {
      max-width:fit-content;
    }
    .point1{
      position: absolute;
      display: flex;
      left: 11%;
      top: 8%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: #D9534F;
      border: none;
      width: 12px;
      height: 12px;
      @media (max-width:1200px) {
        left: 17.7%; 
      }
      @media(max-width:500px){
        top: 7%;
        left: .4%;
      }
  }
  .container__schedule{
    padding-left: 80px;
    @media (max-width:500px) {
      padding-left:0%;
    }
  }	
  .event-info {
    max-height: 0;
    overflow: hidden;
    max-width: 750px;
   
    transition: max-height 0.3s ease-in-out;
  }
  .line{
    margin-bottom: 5px;
  }
  .section-description{
    width: 100%;
    padding-bottom: 20px;
  
    margin-bottom: 40px;
  }
  .event-info.isActive {
    max-height: 1000px; /* un valor suficientemente grande */
    opacity: 1;
    
  }

  .container {

      width: 1200px;
      margin: 0 auto;
      box-sizing: border-box;
      @media (max-width:1200px) {
        max-width:fit-content;
      }
      @media (max-width:500px) {
        max-width: 320px;
        
      }
  }
  
  .schedule-item {
    display: flex;

    position: relative;
    @media (max-width:500px) {
      max-width: 300px;
    }
  }
  
  .time {
    font-size: 16px;
    color: #d9534f;
    width: 100px;
    text-align: right;
    padding-right: 20px;
    @media (max-width:500px) {
      display: none;
    }
  }
  .start-time{
    @media (max-width:500px) {
      display: none;
      
    }
  }
  .start-time2{
    display: none;
    @media (max-width:500px) {
      display: block;
      font-size: 16px;
      font-weight: 600;
    color: #d9534f;
    }
  }
  
  .event-detail {
    flex-grow: 1;
    border-left: 2px solid #d9534f;
    padding: 0px 20px 40px 40px;
    @media (max-width:500px) {
      max-width: 100%;
    }
    
  }
  .schedule-item:last-child .event-detail{
    padding-bottom: 0;
  }
  .schedule-item:last-child .event-detail .point1{
    top: unset;
    bottom: -23%;
  }
  
  .event-name h3 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #333;


    margin: 0;
  }
  
  .speaker-detail {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    @media (max-width:800px) {
      flex-direction: column;
      align-items: start;
    }
  }
  
   .speaker-detail .speaker-photo {
    width: 150px; /* Ajusta según el diseño */
    height: 150px; /* Ajusta según el diseño */
    border-radius: 50%;
    margin-right: 10px;
    filter: grayscale(0);
    @media(max-width:500px){
      width: 50px;
      height: 50px;
    }
  }
  
  .speaker-info {
    text-align: left;
    @media (max-width:1200px) {
      width: 500px;
    }
    @media(max-width:500px){
      width: 90%;
    }
  }
  
  .speaker-name {
    font-weight: 400;
    line-height: 22px;
    color: #D9534F;
    margin: 0;
  }
  
  .speaker-title {
    margin: 0;
    font-size: 14px;
  }
  
  .speaker-bio {
    font-size: 12px;
    color: #666;
  }
  
  .event-info p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 10px;
  }



  .toggle-button {
    position: absolute;
    display: flex;
    left: 11%;
    top: 0%;
    border-radius: 50%;
    transform: translate(-50%, -50%); 
    background: #D9534F;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    color: #fff; 
    margin-left: auto; 
    margin-top: 10px;
    transition: transform 0.3s ease; 
    @media (max-width:1200px) {
      left: 17.7%; 
    }
    @media(max-width:500px){
      left: .5%;
    }
}
.toggle-image {
  height: 20px; 
  width: 20px; 
  transition: transform 0.3s ease; 
}
   
  
 /*  @media (max-width: 768px) {
    .schedule-item {
      flex-direction: column;
    }
  
    .time {
      text-align: left;
      padding-right: 0;
    }
  
    .event-detail {
      border-left: none;
      padding-top: 0;
    }
  } */
  
}

.register{
    
    background-image: url(../assets/images/backgrounds/pattern-4.webp);
    padding: 140px 15px;
    position: relative;
    background-size: cover;
    gap: 40px;
    .container{
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      @media(max-width:800px){
        flex-wrap: wrap; 
        justify-content: center;
      }
    }
    .text, .form{
        width: 40%;
        @media(max-width:800px){
          width: 80%;  
          margin: 0 auto;
        }
    }
    .text h2{
        font-size: 42px;
        margin-bottom:20px;
        font-family: Raleway,sans-serif;
        position: relative;
        z-index: 1;
        display: inline-block;
    }
    .line{
        margin-bottom: 0;
    }
    .first-text{
        font-weight: 500;
    }
    .form{
      background-color: #fff;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      select,input{
        width: 100%;
        height: 50px;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 0 10px;
        margin-bottom: 20px;
      }
      .row2{
        display: flex;
        
        gap: 20px;
      }
     
      input::placeholder{
        color: #000;
      }
      .cta{
       
          background-color: #da1a5d;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          font-weight: 600;
          margin-top: 20px;
          display: inline-block;
          transition: all .3s ease-in-out;
          width: 150px;
          text-align: center;
          cursor: pointer;
          &:hover{
            background-color: transparent;
            border: 1px solid #da1a5d;
            color: #da1a5d;
          }
        }
      
      }
   
}

.sponsors{
    padding: 100px 0;
    position: relative;
    z-index: 1;
    @media(max-width:500px){
      padding: 50px 0;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
   .sponsors-grid{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       gap: 20px;
   }
   .sponsor{
        background: #ffffff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
   }
}

footer {
  background-color: #343a40; 
  color: #ffffff; 
  padding: 40px 0; 


.container {
  width: 80%;
  margin: 0 auto; 
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width:500px) {
    flex-direction: column;
  }
}

.footer-item {
  flex: 1;
  margin: 10px; 
}

.footer-logo {
  width: 150px; 
  margin-bottom: 10px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 20px; 
}

.footer-social {
  display: flex;
}

.social-link {
  display: block;
  margin-right: 10px;
}


.footer-title {
  font-size: 18px;
  margin-bottom: 15px; 
}

.footer-list {
  list-style-type: none; 
  padding-left: 0; 
}

.footer-list-item {
  margin-bottom: 10px; 
}

.footer-link {
  color: #ffffff;
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.footer-link:hover {
  color: #1abc9c; 
}

.footer-icon {
  margin-right: 5px; 
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 95%;
  }
  
  .footer-item {
    margin: 10px 0;
    text-align: center; 
  }

  .footer-social {
    justify-content: center;
  }
}

}

.line{
    width: 15%; 
    height: 3px;
    background-color: #fa3e5c;
    margin-top: 0;
    margin-bottom: 40px;

}

@keyframes slide {
    0% {
        transform: translateX(-25%)
    }

    100% {
        transform: translateX(25%)
    }
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
  overflow: hidden;
}

.modal-header{
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  
  h2{
    margin: 0;
    color: #333;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background: linear-gradient(80deg, #eb3c8b85 25%, #f0633881 50%, #60bfd06e 75%, #3faea862 90%);
}  

}


.modal-content {
  background-color: #fff;
  margin: 20px auto; 
  padding: 40px;
  border: none;
  width: 50%; 
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  animation-name: animatetop;
  animation-duration: 0.4s;
  ul {
    list-style: none; 
    padding-left: 0; 
    margin-bottom: 0;
    text-align: left;
  }
  
  ul li::before {
    content: '•'; 
    color: #eb3c8b;
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
  }
  
  ul li {
    margin-bottom: 15px;
    font-size: 16px;
    color: #666;
  }
  ul li:last-child {
    margin-bottom: 0;
  }
}

.close-button {
  color: #999;
  float: right;
  font-size: 32px;
  font-weight: 300;
}

.close-button:hover,
.close-button:focus {
  color: #333;
  cursor: pointer;
}

.next-button-active {
  animation: pulseAnimation 2s infinite;
}

@keyframes animatetop {
  from {top: -50px; opacity: 0}
  to {top: 0; opacity: 1}
}
 
@keyframes pulseAnimation {
  0% {
    box-shadow: 0 0 0 0px rgba(217, 83, 79, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(217, 83, 79, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(217, 83, 79, 0);
  }
}

.hbspt-form{
  width: 50%;
  @media (max-width:800px) {
    width: 100%;
    
  }
}
strong{
  display: none;
} 