@charset "UTF-8";
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  background-color: #F6F7FD;
  overflow-x: hidden;
  font-family: poppins, sans-serif;
  z-index: 1;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.4235294118);
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.103);
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header figure {
  margin: 0;
  width: 50px;
}
.header figure img {
  width: 100%;
}
.header .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .header__navigation ul li {
  margin: 0 10px;
  color: #fff;
  font-weight: 600;
}
.header .header__navigation ul li a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 500px) {
  .header {
    padding: 15px 10px;
  }
  .header .header__navigation ul li {
    font-size: 12px;
  }
}

.header-scrolled {
  background-color: #ffffff; /* Fondo blanco */
  color: black; /* Texto negro */
  padding: 0px 20px;
}

.header-scrolled li a {
  color: #ff3a54 !important; /* Enlaces en negro */
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../assets/images/backgrounds/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
}
.hero .hero__global {
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
}
.hero .hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-left: 180px;
  text-align: left;
  position: relative;
  z-index: 19;
}
@media (max-width: 800px) {
  .hero .hero__content {
    width: 90%;
    margin-left: 40px;
  }
}
.hero .hero__content h1 {
  font-size: 2rem;
  margin: 0;
}
.hero .hero__content h2 {
  font-size: 3.5rem;
  margin: 0;
}
.hero .hero__content h2 span {
  color: #da1a5d;
}
.hero .hero__content h3 {
  font-size: 1.5rem;
  margin: 0;
}
.hero .hero__content p {
  font-size: 1.2rem;
  line-height: 22px;
}
.hero .hero__content a {
  text-decoration: none;
  color: #fff;
  background-color: #da1a5d;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 150px;
  text-align: center;
}
.hero .hero__content a:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
.hero .hero__container {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .hero__container .bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #da1a5d 50%, #1db6be 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.3;
  position: absolute;
  right: -50%;
  top: 0;
  z-index: 1;
}
.hero .hero__container .bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.hero .hero__container .bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.hero .hero__card_time {
  position: absolute;
  bottom: -70px;
  left: 100px;
  z-index: 19;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 800px) {
  .hero .hero__card_time {
    bottom: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 500px) {
  .hero .hero__card_time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero .hero__card_time .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .hero__card_time .content img {
  margin-right: 5px;
}
.hero .hero__card_time .content p {
  font-weight: 600;
  color: #444349;
}
@media (max-width: 500px) {
  .hero .hero__card_time .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}
.hero .hero__card_time .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero .hero__card_time .countdown .countdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}
@media (max-width: 500px) {
  .hero .hero__card_time .countdown .countdown__item {
    margin: 0 3px;
  }
}
.hero .hero__card_time .countdown .countdown__item span {
  color: #444349;
  padding: 10px;
  display: block;
  position: relative;
  bottom: 0;
  background: #fff;
  padding-top: 5px;
  margin: 0 auto;
  margin-top: -35px;
}
.hero .hero__card_time .countdown .countdown__item p {
  display: inline-block;
  font-size: 30px;
  margin: 0 0 15px;
  color: #ff3a54;
  height: 70px;
  width: 70px;
  font-weight: 700;
  border: 2px dotted #fa3e5c;
  border-radius: 100px;
  line-height: 70px;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000;
  opacity: 0.2;
}

.hero::after {
  content: "";
  position: absolute;
  z-index: 9;
  right: -250px;
  bottom: 0;
  background-image: url(../assets/images/backgrounds/home-corner-right.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 725px;
  background-position: right;
}
@media (max-width: 800px) {
  .hero::after {
    display: none;
  }
}

.main {
  margin-top: 100vh;
  padding: 100px;
  padding-top: 0;
  width: 80%;
  margin: 100vh auto 0 auto;
  position: relative;
}
@media (max-width: 500px) {
  .main {
    padding: 0px;
  }
}
.main .main__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 800px) {
  .main .main__description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main .main__description .text h2 {
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  position: relative;
  z-index: 1;
  display: inline-block;
}
@media (max-width: 500px) {
  .main .main__description .text h2 {
    font-size: 24px;
  }
}
.main .main__description .text p {
  line-height: 30px;
  font-weight: 300;
  width: 90%;
  position: relative;
  z-index: 1;
}
.main .main__description .text .firstText {
  font-weight: 400;
}
.main .main__description .ca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__description .ca a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ff3a54;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main .main__description .ca a:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.main::after {
  content: "";
  position: absolute;
  left: -500px;
  bottom: -640px;
  background-image: url(../assets/images/backgrounds/home-corner-left.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 640px;
  z-index: 2;
}

.reasons {
  position: relative;
  background-color: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 800px) {
  .reasons {
    padding: 42px;
  }
}
@media (max-width: 800px) {
  .reasons {
    padding: 22px;
  }
}

.event-section {
  max-width: 800px;
  padding: 40px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  color: #212529;
  position: relative;
  z-index: 3;
  text-align: left;
  margin-bottom: 30px;
  font-size: 42px;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  display: inline-block;
}
@media (max-width: 800px) {
  .section-title {
    margin-left: 40px;
    font-size: 38px;
  }
}
@media (max-width: 800px) {
  .section-title {
    margin-left: 0px;
    font-size: 24px;
  }
}

.criteria-list {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.criteria-item {
  padding-left: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.6;
  border-left: 4px solid #d9534f;
  padding: 10px 0 10px 40px;
}

.separator {
  border: none;
  border-top: 1px solid #eaeaea; /* Línea delgada para el hr */
  margin: 20px auto; /* Margen vertical para separar los li */
  width: 100%; /* Ancho del hr menos que el contenedor */
  height: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .criteria-item {
    font-size: 16px; /* Tamaño más pequeño del texto para dispositivos móviles */
  }
}
.keynote-speakers {
  text-align: center;
  padding: 100px;
  background: #f8f9fa;
  position: relative;
  z-index: 8;
}
@media (max-width: 500px) {
  .keynote-speakers {
    width: 80%;
    margin: 0 auto;
    padding: 0px 0 30px 0;
  }
}
.keynote-speakers .line {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.keynote-speakers h2 {
  color: #212529;
  position: relative;
  z-index: 3;
  text-align: left;
  margin-bottom: 30px;
  font-size: 42px;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  width: 100%;
  display: inline-block;
}
@media (max-width: 500px) {
  .keynote-speakers h2 {
    font-size: 24px;
  }
}

.keynote-speakers p {
  margin-bottom: 14px;
  text-align: left;
}

.keynote-speakers::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: -400px;
  top: -720px;
  background-image: url(../assets/images/backgrounds/home-corner-right.png);
  background-repeat: no-repeat;
  width: 54%;
  height: 725px;
  background-position: right top;
}

.keynote-speakers::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -400px;
  bottom: -720px;
  background-image: url(../assets/images/backgrounds/home-corner-left.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 725px;
  background-position: left bottom;
}

.speakers-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
@media (max-width: 800px) {
  .speakers-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.speaker_img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}
@media (max-width: 800px) {
  .speaker_img {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: auto;
  }
}

.speaker {
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.speaker-photo {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.speaker:hover .speaker-photo {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.speaker h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

.speaker p {
  font-size: 1em;
  color: #666666;
}

.degree {
  display: block;
  margin-top: 20px;
  background-color: #FA3E5C;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  outline: none;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.degree:hover {
  background: #FA3E5C;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.degree:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(235, 60, 139, 0.5);
          box-shadow: 0 0 0 2px rgba(235, 60, 139, 0.5);
}

.reasons2::after {
  content: "";
  position: absolute;
  z-index: 9;
  right: -250px;
  bottom: 0;
  background-image: url(../assets/images/backgrounds/home-corner-right.png);
  background-repeat: no-repeat;
  width: 57%;
  height: 725px;
  background-position: right;
}
@media (max-width: 500px) {
  .reasons2::after {
    display: none;
  }
}

.schedule {
  padding: 20px 0;
  max-width: 1200px;
  position: relative;
  margin: auto;
  /*  @media (max-width: 768px) {
     .schedule-item {
       flex-direction: column;
     }

     .time {
       text-align: left;
       padding-right: 0;
     }

     .event-detail {
       border-left: none;
       padding-top: 0;
     }
   } */
}
@media (max-width: 1200px) {
  .schedule {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.schedule .point1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 11%;
  top: 8%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #D9534F;
  border: none;
  width: 12px;
  height: 12px;
}
@media (max-width: 1200px) {
  .schedule .point1 {
    left: 17.7%;
  }
}
@media (max-width: 500px) {
  .schedule .point1 {
    top: 7%;
    left: 0.4%;
  }
}
.schedule .container__schedule {
  padding-left: 80px;
}
@media (max-width: 500px) {
  .schedule .container__schedule {
    padding-left: 0%;
  }
}
.schedule .event-info {
  max-height: 0;
  overflow: hidden;
  max-width: 750px;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}
.schedule .line {
  margin-bottom: 5px;
}
.schedule .section-description {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.schedule .event-info.isActive {
  max-height: 1000px; /* un valor suficientemente grande */
  opacity: 1;
}
.schedule .container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1200px) {
  .schedule .container {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media (max-width: 500px) {
  .schedule .container {
    max-width: 320px;
  }
}
.schedule .schedule-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 500px) {
  .schedule .schedule-item {
    max-width: 300px;
  }
}
.schedule .time {
  font-size: 16px;
  color: #d9534f;
  width: 100px;
  text-align: right;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .schedule .time {
    display: none;
  }
}
@media (max-width: 500px) {
  .schedule .start-time {
    display: none;
  }
}
.schedule .start-time2 {
  display: none;
}
@media (max-width: 500px) {
  .schedule .start-time2 {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #d9534f;
  }
}
.schedule .event-detail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 2px solid #d9534f;
  padding: 0px 20px 40px 40px;
}
@media (max-width: 500px) {
  .schedule .event-detail {
    max-width: 100%;
  }
}
.schedule .schedule-item:last-child .event-detail {
  padding-bottom: 0;
}
.schedule .schedule-item:last-child .event-detail .point1 {
  top: unset;
  bottom: -23%;
}
.schedule .event-name h3 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #333;
  margin: 0;
}
.schedule .speaker-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
@media (max-width: 800px) {
  .schedule .speaker-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.schedule .speaker-detail .speaker-photo {
  width: 150px; /* Ajusta según el diseño */
  height: 150px; /* Ajusta según el diseño */
  border-radius: 50%;
  margin-right: 10px;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
@media (max-width: 500px) {
  .schedule .speaker-detail .speaker-photo {
    width: 50px;
    height: 50px;
  }
}
.schedule .speaker-info {
  text-align: left;
}
@media (max-width: 1200px) {
  .schedule .speaker-info {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .schedule .speaker-info {
    width: 90%;
  }
}
.schedule .speaker-name {
  font-weight: 400;
  line-height: 22px;
  color: #D9534F;
  margin: 0;
}
.schedule .speaker-title {
  margin: 0;
  font-size: 14px;
}
.schedule .speaker-bio {
  font-size: 12px;
  color: #666;
}
.schedule .event-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
}
.schedule .toggle-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 11%;
  top: 0%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #D9534F;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
  color: #fff;
  margin-left: auto;
  margin-top: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 1200px) {
  .schedule .toggle-button {
    left: 17.7%;
  }
}
@media (max-width: 500px) {
  .schedule .toggle-button {
    left: 0.5%;
  }
}
.schedule .toggle-image {
  height: 20px;
  width: 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.register {
  background-image: url(../assets/images/backgrounds/pattern-4.webp);
  padding: 140px 15px;
  position: relative;
  background-size: cover;
  gap: 40px;
}
.register .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  .register .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.register .text, .register .form {
  width: 40%;
}
@media (max-width: 800px) {
  .register .text, .register .form {
    width: 80%;
    margin: 0 auto;
  }
}
.register .text h2 {
  font-size: 42px;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.register .line {
  margin-bottom: 0;
}
.register .first-text {
  font-weight: 500;
}
.register .form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.register .form select, .register .form input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 20px;
}
.register .form .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.register .form input::-webkit-input-placeholder {
  color: #000;
}
.register .form input::-moz-placeholder {
  color: #000;
}
.register .form input:-ms-input-placeholder {
  color: #000;
}
.register .form input::-ms-input-placeholder {
  color: #000;
}
.register .form input::placeholder {
  color: #000;
}
.register .form .cta {
  background-color: #da1a5d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 150px;
  text-align: center;
  cursor: pointer;
}
.register .form .cta:hover {
  background-color: transparent;
  border: 1px solid #da1a5d;
  color: #da1a5d;
}

.sponsors {
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
@media (max-width: 500px) {
  .sponsors {
    padding: 50px 0;
  }
}
.sponsors .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.sponsors .sponsors-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.sponsors .sponsor {
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sponsors .sponsor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 40px 0;
}
footer .container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .footer-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}
footer .footer-logo {
  width: 150px;
  margin-bottom: 10px;
}
footer .footer-text {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 20px;
}
footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .social-link {
  display: block;
  margin-right: 10px;
}
footer .footer-title {
  font-size: 18px;
  margin-bottom: 15px;
}
footer .footer-list {
  list-style-type: none;
  padding-left: 0;
}
footer .footer-list-item {
  margin-bottom: 10px;
}
footer .footer-link {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer .footer-link:hover {
  color: #1abc9c;
}
footer .footer-icon {
  margin-right: 5px;
}
@media (max-width: 768px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  footer .footer-item {
    margin: 10px 0;
    text-align: center;
  }
  footer .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.line {
  width: 15%;
  height: 3px;
  background-color: #fa3e5c;
  margin-top: 0;
  margin-bottom: 40px;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.modal-header h2 {
  margin: 0;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.modal-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background: linear-gradient(80deg, rgba(235, 60, 139, 0.5215686275) 25%, rgba(240, 99, 56, 0.5058823529) 50%, rgba(96, 191, 208, 0.431372549) 75%, rgba(63, 174, 168, 0.3843137255) 90%);
}

.modal-content {
  background-color: #fff;
  margin: 20px auto;
  padding: 40px;
  border: none;
  width: 50%;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.modal-content ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: left;
}
.modal-content ul li::before {
  content: "•";
  color: #eb3c8b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.modal-content ul li {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
}
.modal-content ul li:last-child {
  margin-bottom: 0;
}

.close-button {
  color: #999;
  float: right;
  font-size: 32px;
  font-weight: 300;
}

.close-button:hover,
.close-button:focus {
  color: #333;
  cursor: pointer;
}

.next-button-active {
  -webkit-animation: pulseAnimation 2s infinite;
          animation: pulseAnimation 2s infinite;
}

.general-button {
  text-decoration: none;
  color: #fff;
  background-color: #da1a5d;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes pulseAnimation {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(217, 83, 79, 0.7);
            box-shadow: 0 0 0 0px rgba(217, 83, 79, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(217, 83, 79, 0);
            box-shadow: 0 0 0 10px rgba(217, 83, 79, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0px rgba(217, 83, 79, 0);
            box-shadow: 0 0 0 0px rgba(217, 83, 79, 0);
  }
}
@keyframes pulseAnimation {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(217, 83, 79, 0.7);
            box-shadow: 0 0 0 0px rgba(217, 83, 79, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(217, 83, 79, 0);
            box-shadow: 0 0 0 10px rgba(217, 83, 79, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0px rgba(217, 83, 79, 0);
            box-shadow: 0 0 0 0px rgba(217, 83, 79, 0);
  }
}
.hbspt-form {
  width: 50%;
}
@media (max-width: 800px) {
  .hbspt-form {
    width: 100%;
  }
}

strong {
  display: none;
}